.index-card .el-card__body {
    padding: 0;
}

.journal-card .el-card__body {
    padding: 0 !important;
}

.journal-tag .el-tag {
    width: 74px;
    height: 42px;
    text-align: center;
    font-size: 18px;
    line-height: 42px;
}